a:visited{
    color: #fc0;
    background-color: none;
    text-decoration:underline;
}

a:hover{
    color: azure;
}

a{
    color: green;
    text-decoration: none;
}

.photo1{
    
}